h1 {font-family: Georgia, 'Times New Roman', Times, serif;
    font-size :px;}
    
h2 {font-family: comic sans-serif;
    color:#0000ff;
    font-size: 12px;}

h3 {color:blueviolet;}
p:nth-child(6){
    text-align: right;
}